
<nav>
  <ul>
    <li>
      <%= link_to "ログイン or アカウント作成", user_session_path, class: "header_menu" %>
      <%= link_to "マイページ", users_path, class: "header_menu_2" %>
      <%= link_to "曲検索", users_path, class: "header_menu_2" %>
    </li>  
  </ul>
</nav>


