// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






ul {
  padding: 0;
  margin: 0;
  height: 70px;
  list-style: none;
  white-space: nowrap;
}
li {
  display: inline;
}
hr {
  border-top: 0;
}







// 検索フォーム　（div）　ーーーーーーーーーーーーーーーーーーーー
#input-search {
  display: inline-block;
  margin: 40px 0% 0% 15%;
  padding: 0 50px 0 100px;
  width: 55%;
}
// 検索box
#search-box {
  width: 100%;
  text-align: left;
  padding-left: 10px;
  border-top: 0;
  border-left: 1px;
  box-shadow: 2px 2px 3px dimgrey;
}

// 検索button
button {
  height: 30px;
  box-shadow: 2px 2px 3px dimgrey;
}
button[type="submit"]:focus {
  border: 1px solid #8a9cff;
  outline: none;
}
// 反転
#search-box:hover {
  background-color: rgb(241, 238, 238);
}
button:hover {
  background-color: rgb(236, 235, 235);
  border-color: rgb(105, 105, 105);
}
// 検索フォーム　ーーーーーーーーーーーーーーーーーーーー


// log_in + mypageアイコン
.header-icon {
  margin-right: 4%;
}
// ↑　の　div
#header-icon-block {
  display: inline;
  margin-left: 12%;
}
// 　↑　のサイズ
.header_icon_size {
  width: 25px;
  height: 25px;
}

